// ==============================
// Custom style
// 自定义样式
// ==============================
/* 打赏 */
article .post-reward {
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  border-top: 1px dashed #e6e6e6
}

article .post-reward .reward-button {
  margin: 15px 0;
  padding: 3px 7px;
  display: inline-block;
  color: #4db6c0;
  border: 1px solid #4db6c0;
  border-radius: 5px;
  cursor: pointer
}

article .post-reward .reward-button:hover {
  color: #fefefe;
  background-color: #4db6c0;
  transition: .5s
}

article .post-reward #reward:hover~.qr-code {
  display: block
}

article .post-reward .qr-code {
  display: none
}

article .post-reward .qr-code .qr-code-image {
  display: inline-block;
  min-width: 200px;
  width: 40%;
  margin-top: 15px
}

article .post-reward .qr-code .qr-code-image span {
  display: inline-block;
  width: 100%;
  margin: 8px 0
}

article .post-reward .qr-code .image {
  width: 200px;
  height: 200px
}

#aside-sakana {
  display: block;
  position: sticky;
  top: $header-height + 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @include overflow-wrap(break-word);
  box-sizing: border-box;
}

.sakana-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.sakana-widget .sakana-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// 自定义shortcode--notice
.notice {
  position:relative;
  padding: 1em 1em 1em 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  p:last-child {
      margin-bottom: 0;
  }
  .notice-title {
      position: absolute;
      left: 0.8em;
      .notice-icon {
          width: 1.2em;
          height: 1.2em;
      }
  }
  &.notice-warning {
      background: hsla(0, 65%, 65%, 0.15);
      border-left: 5px solid hsl(0, 65%, 65%);
      .notice-title {
          color: hsl(0, 65%, 65%);
      }
  }
  &.notice-info {
      background: hsla(30, 80%, 70%, 0.15);
      border-left: 5px solid hsl(30, 80%, 70%);
      .notice-title {
          color: hsl(30, 80%, 70%);
      }
  }
  &.notice-note {
      background: hsla(200, 65%, 65%, 0.15);
      border-left: 5px solid hsl(200, 65%, 65%);
      .notice-title {
          color: hsl(200, 65%, 65%);
      }
  }
  &.notice-tip {
      background: hsla(140, 65%, 65%, 0.15);
      border-left: 5px solid hsl(140, 65%, 65%);
      .notice-title {
          color: hsl(140, 65%, 65%);
      }
  }
}

[data-theme="dark"] .notice {
  &.notice-warning {
      background: hsla(0, 25%, 35%, 0.15);
      border-left: 5px solid hsl(0, 25%, 35%);
      .notice-title {
          color: hsl(0, 25%, 35%);
      }
  }
  &.notice-info {
      background: hsla(30, 25%, 35%, 0.15);
      border-left: 5px solid hsl(30, 25%, 35%);
      .notice-title {
          color: hsl(30, 25%, 35%);
      }
  }
  &.notice-note {
      background: hsla(200, 25%, 35%, 0.15);
      border-left: 5px solid hsl(200, 25%, 35%);
      .notice-title {
          color: hsl(200, 25%, 35%);
      }
  }
  &.notice-tip {
      background: hsla(140, 25%, 35%, 0.15);
      border-left: 5px solid hsl(140, 25%, 35%);
      .notice-title {
          color: hsl(140, 25%, 35%);
      }
  }
}

// 隐藏文字
.hide-text {
  display: inline;
  position: relative;
  .check{
    display: inline-block;
    background-color: rgb(255,114,66);
    font-size: 10px;
    color: white;
    cursor: pointer;
  }
  .hide {
    padding: 5px;
    display: none;
  }
}
// 悬浮提示
/*Tooltip text*/
.tooltip {
  position: relative;
  cursor: default;
  border-bottom: dashed 1px #4db6c0;
}

.tooltip .tooltip-text {
  // font-family: "Open Sans", sans-serif;
  // font-size: 1em;
  // line-height: 1.5em;
  visibility: hidden;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  width: 250px;
  // width: fit-content;
  // white-space: nowrap;
  bottom: 125%;
  left: 0%;
  margin-left: -90px;
  opacity: 0;
  transition: .3s;
  transform: translate3d(0px, 20px, 0px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tooltip .title{
  border-bottom: 1px dashed #000;
  display: block;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-style: italic;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

// 填空
.blank-text {
  display: inline;
  position: relative;
  .check{
    display:inline-block;
    width: 50px;
    cursor: pointer;
    border-bottom: 1px dashed rgb(255,114,66);
  }
  .hide {
    padding: 3px;
    display: none;
    border-bottom: 1px dashed rgb(255,114,66);
  }
}
